/* You can change the font for the who;le application using this */
/*$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);*/

$btnPrimaryBackground: green;
$navbarBackgroundHighLight: white;
$navbarBackground: white;

@import 'bootstrap';

body {
    padding-top: 60px;
    height: 100%;
}

#wrap {
	min-height: 100%;
}

#main{
	overflow:auto;
	padding-bottom: 150px;
}

.footer {
	background-color: $gray;
	margin-top: 100px;
	color: $grayLight;
	a {
		color: gray;
	}
}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

